@model IEnumerable<AccountWebMVC.Models.Local>

@{
    ViewData["Title"] = "Index";
}

<h2>Local</h2>

<p>
    <!--<a asp-action="Create">Create New</a>-->
    <button class="btn btn-success local">Novo<i class="glyphicon glyphicon-open"></i></button>
</p>
<p><button id="Teste">Teste Modal Novo</button></p>    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="modal" class="modal fade" role="dialog">

</div>
<div id="modal2" class="modal fade" role="dialog">

</div>
